/* .dashboard-wrapper {
  background: url("../../../assets/images/dashboard5.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.dashboard-wrapper .toolbar {
  margin-block-start: 0em;
}
.example-spacer {
  flex: 1 1 auto;
}
.accountCircle {
  font-size: 32px;
}
.user-greetings-wrapper .user-name {
  margin: 1% 2% 0% 2%;
}
.user-wrapper {
  padding: 0% 2%;
  text-align: center;
}

.gratitudeJar img {
  width: 9em;
  height: 10em;
  float: right;
  margin-top: -7em;
}

.emojis-wrapper {
  font-size: 48px;
  margin: 0% 0.7em;
}
.quote-text {
  font-family: "Cookie", cursive;
  padding: 1%;
  background-color: #1f321a;
  color: white;
}
.scheduler-wrapper {
  margin: 0;
  padding: 2%;
  /* background-color: darkgoldenrod; */
  background-color: #807048b0;
  /* background: url("../../../assets/images/dashboard7.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.calender-container {
  width: 50%;
  height: 60%;
  margin: 0% auto;
}
.save-all {
  margin: 1%;
  text-align: center;
}
.save-all button {
  width: 100%;
  background-color: #1f321a;
  color: white;
}
