<div class="reminder-wrapper">
    <div class="header-wrapper">
        <div class="mat-headline headtitle">Add Event
            <button mat-icon-button class="close-button" (click)="hideModal()">
                <mat-icon class="close-icon closeIconColor">close</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="reminder-content-wrapper">
            <form [formGroup]="reminderForm" novalidate class="form">
                <p class="form-field">
                    <mat-form-field appearance="standard">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="titleCtrl">
                        <mat-error
                            *ngIf="!reminderForm.controls['titleCtrl'].valid && reminderForm.controls['titleCtrl'].touched">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </p>
                <div class="event-wrapper">
                    <div class="note-Type">
                        <mat-form-field appearance="standard">
                            <mat-label>Note Type</mat-label>
                            <mat-select name="notes_Type" formControlName="noteCtrl">
                                <mat-option *ngFor="let note of noteTypeOpts" [value]="note.keyID"
                                    [matTooltip]="note.fullDesp">
                                    {{note.desp}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="!reminderForm.controls['noteCtrl'].valid && reminderForm.controls['noteCtrl'].touched">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="dates-range-wrapper">
                        <mat-form-field appearance="fill" class="example-form-field">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="rangePicker">
                                <input matStartDate placeholder="Start date" formControlName="startDate">
                                <input matEndDate placeholder=" End date" formControlName="endDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #rangePicker>
                                <mat-date-range-picker-actions>
                                    <button mat-button matDateRangePickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                                </mat-date-range-picker-actions>
                            </mat-date-range-picker>
                            <mat-error *ngIf="reminderForm.controls.startDate.hasError('matStartDateInvalid')">Invalid
                                start
                                date
                            </mat-error>
                            <mat-error *ngIf="reminderForm.controls.endDate.hasError('matEndDateInvalid')">Invalid end
                                date
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="time-wrapper">
                    <div class="eventTime-field">
                        <mat-form-field appearance="standard">
                            <mat-label>Event Time</mat-label>
                            <input type="time" matInput placeholder="Event Time" formControlName="eventTimeCtrl">
                            <!-- <mat-error
                                *ngIf="!reminderForm.controls['eventTimeCtrl'].valid && reminderForm.controls['eventTimeCtrl'].touched">
                                This field is required
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="prefferedTime-field">
                        <mat-form-field appearance="standard">
                            <mat-label>Preferred Time to Notify</mat-label>
                            <input type="time" matInput placeholder="Preferred Time to Notify"
                                formControlName="preferredTimeCtrl">
                            <!-- <mat-error
                                *ngIf="!reminderForm.controls['preferredTimeCtrl'].valid && reminderForm.controls['preferredTimeCtrl'].touched">
                                This field is required
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <p class="form-field mat-body-1">
                    Description(Optional)
                    <mat-form-field appearance="outline">
                        <textarea matInput placeholder="Description" formControlName="descriptionCtrl"></textarea>
                    </mat-form-field>
                </p>
            </form>
            <div class="event-form-actionControls">
                <button mat-flat-button color="darkgoldenrod" class="save-btn">SAVE</button>
                <button mat-stroked-button color="darkgoldenrod" class="cancel-btn"
                    (click)="hideModal()">CANCEL</button>
            </div>
        </div>
    </div>
</div>